<div class="container-fluid" style="margin-top:10px;">
  
  
    <div class="row" style="justify-content:space-around;">
  
      <div class="col-6">
        <div>
          <h2>Existing Projects</h2>
        </div>
  
        <input type="text" id="projNameToSearch" #projNameToSearch class="form-control" placeholder="Search Project" (keyup)="searchByName(projNameToSearch.value)">
  
        <span class="badge" style="color:white; background-color:blueviolet; margin:10px 0px 10px 0px;" (click)="clearSearch()">Clear Search</span>
      
  
        <div class="existingArtefacts">
  
          <ul class="list-group" *ngFor="let projObj of projectsToDisplay">
            <li class="list-group-item">
              {{projObj.projectName}}
              <!-- <span class="badge" id="teamsize">15</span>
              <span class="badge" id="editArtefact">Edit</span> -->
              <span class="badge" style="float:right" id="deleteArtefact" (click)="deleteProj(projObj.projectName)">Delete</span>
            </li>
          </ul>
  
  
        </div>
  
      </div>
  
      <div class="col-6" style="border-left: 1px solid black;">
        <h2>Create a new Project</h2>
        <form #projForm="ngForm" (ngSubmit)="insertProject(projForm.value)" class="form-signup">
          <input type="text" name="projectName" id="projectName" class="form-control mt-10" placeholder="Project Name" required
            ngModel>
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Ok</button>
          <br><br>
        </form>
      </div>
  
  
  
    </div>
    <!-- row ends -->
  </div>